# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Distribution / packaging
dist/
build/
*.egg-info/
